body {
    font-family: sans-serif;
    background-color: #180161;
}
div{
    margin: 2%;
}
div.header1 {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background-color: #1b54fd;
    color: #fff;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
}
ul {
    background-color: #ffbe3b;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 4px rgba(200, 200, 200, 0.2);
    overflow-x: auto; 
    padding: 0;
    left: 0;
    white-space: nowrap;
    margin: 0;
    display: flex;
    scrollbar-width: none;
    ul::-webkit-scrollbar{
        display: none
    }
}

ul li {
    background-color: #ffbe3b;
    flex: 0 0 auto;
    display: inline-block;
    padding: 0.08em 0.4em;
    color: #000;
    margin: 0 auto;
    white-space: nowrap;
    
}
.button1 {
    font-size:20px;
    margin-left: 30%;
    border-radius: 10px;
    border:2px solid #0FFCBE;
    background-color: #0FFCBE;
    color: #106EBE;
    padding: 8px 12px 8px 12px;
}
.button1:hover {
    background-color: #106EBE;
    color: #0FFCBE;
    transition: all 0.5s ease-in-out 0.2s;
}
.search {
    height: 40px;
    width:200px;
    border-radius: 25px;
    background-color: white;
    color: #106EBE;
    font-size: 18px;
    margin-left: 30%;
    padding: 0px 10px 0px 10px;
    text-align: center;
    border: 2px solid #f60606;
}
.a1 {
    background-color: #ffbe3b;
    color: #000;
    font-size: 20px;
    text-decoration: none;
}
div.main0 {
    left: 0;
}
div.main1 {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
    box-shadow: 0px 0px 25px rgb(15, 252, 190)
}
#links {
    width: auto;
    margin: 2%;
    border-radius: 10px;
}
#links:hover {
    height: 200px;
    width: 200px;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
    transition: all 1s ease-in-out ;
}
div.main2 {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
div.main3 {
    height: 250px;
    width: 100%;
    background-color: #0e5a9c;
    display: inline-block;
    justify-content: space-evenly;
}
li {
    display: inline;
    font-size: 35px;
    color: #0FFCBE;
}
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
